# Client / React / Redux
client/node_modules/
client/dist/
client/.env
client/.vite/

# Server / Nest
server/dist/
server/node_modules/
server/build/
server/.env
server/.env.local
server/.env.development.local
server/.env.production.local

# Mobile app (for features)
app/node_modules/
app/dist/
app/.env

# Сommon
Thumbs.db
logs
npm-debug.log*
yarn-debug.log*
*.log
*.tsbuildinfo
*.tmp
*.pid
.DS_Store
.vscode/
.idea/
.settings/
.env
.project
.classpath
.temp/