# Node / React / Vite
client/node_modules/
client/dist/
client/.env
client/.vite/

# .NET Core
server/bin/
server/obj/
server/.vs/
server/*.user
server/*.suo

# Mobile app (for features)
app/node_modules/
app/dist/
app/.env

# Сommon
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tsbuildinfo
.env